
.grid-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;   
  border: 1px solid #0077c8;

}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/ZimmerLogoBluecutout.png');
    background-repeat: no-repeat;
    background-attachment: local; //fixed;
    background-size: 30%;
    background-position: center center;
    filter: brightness(2) blur(15px);
    
}
  
.card-container.mat-card{
    padding: 2px;
    margin: 2px;
    
} 
  
.card-container {
    margin:2em;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier();
}

.card-container:hover{
  transition-duration: 0s;
  box-shadow: -1px 10px 29px 0px #014370;
  border: 1px solid #3c92cb;
      
  .clickable{
    color: rgb(57, 54, 54);
    margin: -1px;
          
  }

}
  
.clickable{
  color: white ; //rgb(105,105,105);  // 213,213,213   245,249,254   154,154,154
  background-color: rgb(105,105,105); //  rgb(105,105,105); //rgb(200,233,245);
  border: 1px solid #0077c8;
  
}

.card-img-top{
  display: block;
 
}