<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=FRhGG5OTMGRHSRd9&amp;list=PLNf7WrW3VV-yW71-xs-QVc0bvZh32_qVC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->

<!-- <div class="youtube-player-container">
  <youtube-player videoId="{{url}}">
  </youtube-player>
</div> -->
<div>
  <iframe src="{{videoID}}" frameborder="0" allowfullscreen></iframe>
</div>







<!-- <div>
  <video src="{{url}}" target="_blank"></video>
</div> -->
