
.close-button{
    float: left;
    color: white !important;
    background-color: #3c92cb;
    margin-left: 15px;
}

.submit-button{
    float: right;
    color: white !important;
    background-color: #3c92cb;
    margin-right: 15px;
}

.setting-container{
    height: 360px;
    //border: 3px solid #ff2121;
    //color: black;

}
