.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
    
    ::-webkit-scrollbar {
        display: none;
      }
    
}

.child {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 95%; // 100% lässt border verschwinden ??
        
}
